body {
	font: 12px Arial, Helvetica, sans-serif;
	padding: 10px 0px 0px 0px; 						/* top rigth bottom left  */	
	max-width: 750px;
	margin: auto;	
}
	
footer {
	text-align: center;	
}

.main {
	padding: 15px 10px 15px 15px;					/* top rigth bottom left  */
}
	
.TitleStyle {
	text-align: center;	
}
	
.SectionTitleStyle {
	height: 20px;
	-moz-border-radius: 10px;
	border-radius: 8px;
	border: 1px #DAE4F0 solid;
	background-color: #DAE4F0;
	padding: 5px 0px 0px 10px; 						/* top rigth bottom left  */	
	font-weight: bold;
	text-align: left;	
}

.SectionBodyStyle {
	-moz-border-radius: 10px;
	border-radius: 8px;
	border: 1px #e7e7e7 solid;
	padding: 5px 0px 0px 20px; 						/* top rigth bottom left  */	
	font: 12px Arial, Helvetica, sans-serif;		/* Roboto */
	text-align: left;	
}
		
.TableStyle {
	-moz-border-radius: 10px;
	border-radius: 8px;
	border: 1px #e7e7e7 solid;
	/*padding: 10px 0px 10px -20px;*/						/* top rigth bottom left  */	
	font: 12px Arial, Helvetica, sans-serif;		/* Roboto */
	text-align: left;
	border-collapse: collapse;
	margin: auto;
}

table, th, td {
	border: 1px #e7e7e7 solid;
	padding: 0px 10px 0px 10px;						/* top rigth bottom left  */	
}		
		
th {
	background: #F7F1D7;
	/*font-style: italic;*/
	text-align: center;
}
		
tr:nth-child(even) {
	background: #FFFFFF
}
		
tr:nth-child(odd) {
	background: #F7F7F7
}		
		
.RootDiv {
	/*border: 1px solid;*/
	display: table;
	margin: auto;
	text-align: center;
}

.NodeDiv {
	height: 16px;
	width: 100px;
	-moz-border-radius: 10px;
	border-radius: 8px;	
	border: 1px #e7e7e7 solid;
	float: left;
	margin: 2px 3px 2px 2px;			/* top rigth bottom left  */	
	padding: 3px 0px 0px 0px;			/* top rigth bottom left  */	
	text-align: center;
}	

.RootDiv2 {
	/*border: 1px solid;*/
	display: table;
	margin: auto;
	text-align: center;
}

.NodeDiv2 {
	height: 16px;
	/*width: 100px;
	-moz-border-radius: 10px;
	border-radius: 8px;	*/
	/*border: 1px #e7e7e7 solid;*/
	float: left;
	/*margin: 2px 3px 2px 2px;			/* top rigth bottom left  */	
	/*padding: 3px 0px 0px 0px;			/* top rigth bottom left  */	
	text-align: center;
}	


		
.divRounded {
	-moz-border-radius: 10px;
	border-radius: 10px;
} 

.RootDiv100{
	border: 1px solid;
	display: table;
	/*line-height: auto;*/
}

.NodeDiv100 {
	width: 70px;
	border: 1px green solid;
	display: table-cell;
	vertical-align: middle;
}	

.wrapper { 
  border : 2px solid #000; 
  overflow: hidden;
}
